html
  head
    title= title
  body
    h1 This is Kevin's API service
    p On this page you will find a number of "Helpful APIs"
    p All of these services have been created as a part of the Free Code Camp back end certification and are created purely for the purpose of learning to create APIs
    p All source code is available on github if you are curious
    
    h3 
      a(href="./dates") Date Microservice
    p This API will return the date as a string, an unix time, and also the number of days between the selected date and right now
